*{
    font-family: Inter-Variable;
}

img{
    border-radius: 50%;
    width: 30%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 3%;
}

.main-background{
    background-color: hsl(0, 0%, 8%);
    display: flex;
    flex-direction: column;
}

.secondary-background{
    background-color: hsl(0, 0%, 12%);
    margin-top: 5%;
    margin-bottom: 3%;
    width:20%;
    height: 70%;
    border-radius: 3%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    position:relative;
    align-self: center;
    padding: 2%;
}

.main-name{
    color: hsl(0, 0%, 100%);
    position: relative;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 5px;
}

.main-location{
    color: hsl(75, 94%, 57%);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

.main-description{
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding-top:7%;
    padding-bottom:2%;
    font-size: 12px;
    font-weight: 200;
}

.main-button{
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 20%);
    text-align: center;
    border-radius: 5px;
    border:none;
    width: 95%;
    height: 50%;
    padding: 12px;
    font-size: 12px;
    margin-left: 2%;
    margin-top: 5%;
    font-weight: 600;
}

.button-container{
    justify-content: center;
    position:relative;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.main-button:hover{
    background-color: hsl(75, 94%, 57%);
    color:hsl(0, 0%, 20%);
    cursor: pointer;
}

.main-button:focus{
    background-color: hsl(75, 94%, 57%);
    color:hsl(0, 0%, 20%);
}

@font-face {
    font-family: Inter-Variable;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

.attribution { font-size: 11px; text-align: center; color:hsl(0, 0%, 100%)}

.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (max-width: 768px) {
    .secondary-background {
      width: 90%;
      height: 85%;
    }
  }